<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head.html %>
    <title>无线门禁系统电池测试页</title>
</head>
<body>
    <div id="wrapper" ng-app="webappChart">
        <!-- 导航 -->
        <%- include nav.html %>

        <!-- 设备列表 -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">电池状态</h1>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    电池记录
                </div>
                <div class="panel-body">

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="line-chart" ng-controller="batteryLine">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                电池消耗曲线
                            </div>
                            <div class="panel-body">
                                <canvas
                                        class="chart chart-line"
                                        chart-data="data"
                                        chart-labels="labels"
                                        chart-series="series"
                                        chart-options="options"
                                        chart-dataset-override="datasetOverride"
                                        chart-click="onClick">
                                </canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="pie-chart" ng-controller="batteryPie">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                电池百分比
                            </div>
                            <div class="panel-body">
                                <canvas
                                        id="pie"
                                        class="chart chart-pie"
                                        chart-data="data"
                                        chart-labels="labels"
                                        chart-options="options">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- js文件 -->
    <%- include script.html %>
    <!-- anguler -->
    <script src="/lib/angular/angular.min.js"></script>
    <!-- chart -->
    <script src="/lib/chart/Chart.min.js"></script>
    <script src="/lib/chart/angular-chart.min.js"></script>
    <!-- own -->
    <script src="/js/angular/webappChart.js"></script>
    <script src="/js/angular/controllers/battery.controller.js"></script>

</body>
</html>
