<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head.html %>
    <!-- Bootstrap-table -->
    <link rel="stylesheet" href="/lib/bootstrap-table/bootstrap-table.min.css">
    <!-- doorList -->
    <link rel="stylesheet" href="/css/doorList.css">
    <title>无线门禁系统主页</title>
</head>
<body>
    <div id="wrapper" class="doorList" ng-app="webapp" ng-controller="doorListController">
        <!-- 导航 -->
        <%- include nav.html %>

        <!-- 设备列表 -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">门锁关联列表</h1>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    门锁关联列表
                </div>
                <div class="panel-body">
                    <div id="custom-toolbar">
                        <div class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon list-group-item-info">基站IP</span>
                                <select ng-change="updateChange(baseIP)" ng-model="baseIP" id="selectBaseIP" class="form-control text-center">
                                    <% baseIpLists.forEach(function(list){ %>
                                    <option value="<%= list %>"><%= list %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <button id="doorList_update" ng-click="updateRequest()" ng-bind="updateDoorList" class="{{updateDoorListClass}}"></button>

                            <div class="input-group">
                                <li style="padding: 0 15px"  class="list-group-item list-group-item-danger">电量和信号如果为0,请执行开门获取!</li>
                            </div>


                        </div>
                    </div>
                    <table id="doorListTable"
                           data-toggle="table"
                           data-cache="false"
                           data-height="526"
                           data-row-style="doorListRowStyle"
                           data-sort-order="desc"
                           data-show-columns="true"
                           data-click-to-select="true"
                           data-single-select="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-select-item-name="toolbar1"
                           data-toolbar="#custom-toolbar"
                           data-pagination="true"
                           data-page-list="[10, 20, 50, 100, 200]">
                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="doorNum" data-align="center">房间号</th>
                            <th data-field="battery" data-align="center">电量</th>
                            <th data-field="lqi" data-align="center">信号</th>
                            <th data-field="shortAddr" data-align="center">网络地址</th>
                            <th data-field="macAddr" data-align="center">mac地址</th>
                            <th data-field="time" data-align="center">获取时间</th>
                            <th data-field="openDoorOper" data-formatter="openDoorOperFormatter" data-events="openDoorOperEvents" data-align="center">开门</th>
                            <th data-field="setDoorNum" data-formatter="setDoorNumFormatter" data-events="setDoorNumEvents" data-align="center">设置房间号</th>
                            <th data-field="operateResult" data-align="center">操作结果</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


        <!----------------------------------模态框-------------------------------------->
        <div class="modal fade" id="setDoorNum" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            房间号设置
                        </h4>
                    </div>
                    <form ng-submit="setDoorNum()" class="form-horizontal modal-body" role="form" enctype="multipart/form-data">
                        <div class="modal-body">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-success">
                                    <p  class="list-group-item-text">基站IP</p>
                                    <h4  id="doorList_baseIP" ng-bind="doorList_baseIP" class="list-group-item-heading"></h4>
                                </li>
                                <li  class="list-group-item list-group-item-success">
                                    <p class="list-group-item-text">门锁原房间号</p>
                                    <h4  id="doorList_doorNum" ng-bind="doorList_doorNum" class="list-group-item-heading"></h4>
                                </li>
                                <li  class="list-group-item list-group-item-success">
                                    <p  class="list-group-item-text">门锁网络地址</p>
                                    <h4 id="doorList_shortAddr" ng-bind="doorList_shortAddr" class="list-group-item-heading"></h4>
                                </li>
                            </ul>
                            <div class="list-group">
                                <label for="doorList_newDoorNum" class="control-label">门锁新房间号</label>
                                <div>
                                    <input ng-model="doorList_newDoorNum" id="doorList_newDoorNum" type="text" class="form-control" pattern="^[0-9a-zA-Z]{1,15}$" maxlength="16"  aria-describedby="sizing-addon1" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn  btn-success">设 置</button>
                            <button type="button" class="btn   btn-warning" data-dismiss="modal">关 闭</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>

<!-- js文件 -->
<%- include script.html %>
<!-- socket.io -->



<!--angularJS -->
<script src="/lib/angular/angular.min.js"></script>
<!--own angularjs-->
<script src="/js/angular/webapp.js"></script>
<script src="/js/angular/services/doorList.service.js"></script>
<script src="/js/angular/controllers/doorList.controller.js"></script>

<!--<script>-->
    <!--(function(){-->
        <!--$(function () {-->
            <!--var $table = $('#doorListTable');-->

            <!--$("#selectBaseIP").bind("change",function(){-->

                <!--//按钮状态回归-->
                <!--var $btn = $('#doorList_update');-->
                <!--$btn.removeClass();-->
                <!--$btn.addClass('btn btn-warning');-->
                <!--$btn.text('更新当前基站IP的门锁关联列表');-->
                <!--$btn.removeAttr("disabled");-->



                <!--var url = '/doorList/' + $(this).val();-->
                <!--$table.bootstrapTable('refresh',{url:url});-->
            <!--});-->
        <!--});-->
    <!--})();-->
<!--</script>-->

</body>
</html>

