<!DOCTYPE html>
<html lang="en">
<head>
    <%- include head.html %>
    <title>无线门禁系统主页</title>
</head>
    <body>
        <div id="wrapper">
            <%- include nav.html %>






        </div>
        <%- include script.html %>
        <script>
            (function(){    //需要注意块级作用域,防止命名冲突
                var index = io.connect('http://localhost:3000/index');
                index.on('message', function (data) {
                    console.log(data);
                });
            })();
        </script>
    </body>
</html>

